Seção <%= secao.roman %>: <%= secao.descrição %><br>
Notas de Seção:<br>
<ul>
  <% secao.notas.forEach((nota) => { %><li><%= nota %></li><% }); %>
</ul>
<% secao.capitulo.forEach((capitulo) => { %>
<a href="/secao/<%= secao.num %>/capitulo/<%= capitulo.num %>">
  <%= capitulo.num %>
  <%= capitulo.titulo %><br></a>
<% }); %>